.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.error-card {
  text-align: center;
  padding: 20px;
}

.error-title {
  font-weight: bold;
  color: #e53935; /* Error red */
}

mat-card-actions {
  padding-top: 20px;
}
