<div class="page-404">
  <mat-card class="error-card">
    <div style="text-align: center">
      <mat-card-title class="error-title"><h1>404</h1></mat-card-title>
    </div>

    <mat-card-content>
      <p class="error-message">
        It seems you might have taken a wrong turn. Don't worry, let's get you
        back on track.
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button
        mat-flat-button
        color="primary"
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Go to Home
      </button>
    </mat-card-actions>
  </mat-card>
</div>
