<main class="main">
  <mat-toolbar>
    <span style="font-size: x-large; font-weight: bold; user-select: none">
      BiblioApp
    </span>
    <nav>
      <button
        mat-button
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Home
      </button>
      <button
        mat-button
        routerLink="/add-book"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Add book
      </button>
    </nav>
  </mat-toolbar>
  <div class="content">
    <router-outlet />
  </div>
</main>
