mat-card {
  width: fit-content;
  min-width: 400px;
}
/* Assicurati che il modulo abbia un layout verticale */
.vertical-form {
  display: flex;
  flex-direction: column; /* Imposta gli elementi in verticale */
}

.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row; /* Imposta gli elementi in verticale */
  gap: 20px; /* Aggiungi uno spazio tra gli elementi */
}

mat-card-header {
  padding-bottom: 20px;
}
